.reviewCard__outerBox{
    width:80%;
    height:auto;
    min-height: fit-content;
    margin-top: 1rem;
    padding:1rem 0;
    border-top: lightgray solid 0.5px;
    border-bottom: lightgray solid 0.5px;

}
.reviewCard__headerBox{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height:3rem;
    /* border: blue solid 1px; */
}

.reviewCard__titleBox{
    width: 30%;
    /* border: blue solid 1px; */
    padding:0;

}

.reviewCard__title{
    padding:0.3rem;
    /* border: orange solid 1px; */
    margin:0;
    text-align: left;
    /* padding-left: 3rem; */

}

.reviewCard__addReviewButtonBox{
    width:30%;
    /* border: blue solid 1px; */

}



.reviewCard__ratingBox{
    width:100%;
    display: flex;
    flex-direction: row;
    /* border: royalblue solid 1px; */
}

.reviewCard__ratingBox__left{
    width: 30%;
    display: flex;
    flex-direction: column;
    /* padding-left: 3rem; */

    /* border: orange solid 1px; */
}

.reviewCard__ratingBox__average{

    width:100%;
    font-size: 3em;
    text-align: left;
}

.reviewCard__ratingBox__starsArray{
    
    width:100%;
    /* border: orange solid 1px; */

}

.starsArray{
    width:100%;
    display: flex;
    flex-direction: column;
    cursor: default;
}

.reviewCard__ratingBox__right{
    width: 68%;
    display: flex;
    flex-direction: column;

    padding-left: 1rem;

    /* border: purple solid 1px; */

}

.ratingStars{
    width:100%;
    /* border: green solid 1px; */

}

.ratingColumns{
    width:100%;
    height: 8rem;
    /* border: green solid 1px; */


}