.reviewCard__outerBox{
    width:80%;
    height:auto;
    min-height: fit-content;
    margin-top: 4rem;
    padding:1rem 1rem;
    /* border-top: lightgray solid 0.5px;
    border-bottom: lightgray solid 0.5px; */
    border-radius: 8px;


    box-shadow: rgba(247, 168, 168, 0.25) 0px 6px 12px -2px, rgba(107, 79, 79, 0.3) 0px 3px 7px -3px;



}
.reviewCard__headerBox{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height:3rem;
    /* border: blue solid 1px; */
}

.reviewCard__titleBox{
    width: 30%;
    /* border: blue solid 1px; */
    padding:0;

}

.reviewCard__title{
    padding:0.3rem;
    /* border: orange solid 1px; */
    margin:0;
    text-align: left;
    /* padding-left: 3rem; */

}

.reviewCard__addReviewButtonBox{
    width:30%;
    /* border: blue solid 1px; */

}



.reviewCard__ratingBox{
    width:100%;
    display: flex;
    flex-direction: row;
    /* border: royalblue solid 1px; */
}

.reviewCard__ratingBox__left{
    width: 30%;
    display: flex;
    flex-direction: column;
    /* padding-left: 3rem; */

    /* border: orange solid 1px; */
}

.reviewCard__ratingBox__average{

    width:100%;
    font-size: 3em;
    text-align: left;
    margin-bottom: 0.4rem;
}

.reviewCard__ratingBox__starsArray{
    
    width:100%;
    /* border: orange solid 1px; */

}

.ratingStars{
    margin:0;
    padding:0;
  
}

.starsArray{
    margin-top: 0rem;
    width:100%;
    display: flex;
    flex-direction: column;
    cursor: default;
}

.reviewCard__ratingBox__right{
    width: 68%;
    display: flex;
    flex-direction: column;

    padding-left: 1rem;

    /* border: purple solid 1px; */

}

.star{
    width:90%;
    height: 70%;
    padding:0.5rem;
    margin:0.5rem;
    /* border: green solid 1px; */

}

.ratingColumns{

    margin-top: 0.6rem;
    max-width:90%;
    height: 100%;
    border: green solid 1px;


}

