.reviewPageContainer{
    width:60%;
    height:auto;
    min-height: fit-content;
    margin: 0.5rem 5em;
    padding-left: 2rem;

    display: flex;
    flex-direction: column;
    text-align: left;
    border-radius: 10px;

    box-shadow: rgba(137, 92, 92, 0.6) 0px 5px 15px;
   

    /* border: blue solid 2px; */

}

.reviewForm{
    display: flex;
    flex-direction: column;
    text-align: left;


}
.reviewTitleBox{

    display: flex;
    flex-direction: column;
    text-align: left;
}

.reviewContentBox{

    display: flex;
    flex-direction: column;
    text-align: left;
}

.reviewPicBox{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 2rem;

}
.input{
    width: 90%;
    margin: 1rem 0;
    border: #FF5655 0.5px dashed;


}
.input_content{
    height: 8rem;
}


.reviewProfileBox{
    display: flex;
    flex-direction: column;
    text-align: left;
    

}

.addReviewButton{
    margin: 1rem 0;
}


.proConButtonBox{
    display: flex;
    flex-direction: row;
}
.proConHint{
    padding-top:10px;
    font-size: smaller;
    color:#FF5655 ;
}


.review-img{
    max-height: 6rem;
    max-width: 8rem;
}

.reviewShortcutBox{
    width: 90%;
    display: flex;
    flex-direction: row;
  

}

.plusBox{
    width: 50%;
    display: flex;
    flex-direction: column;
    /* border: solid 1px blue; */
    justify-content: left;
    align-content: flex-start;

    padding:0
    
    
}

.minusBox{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    /* border: solid 1px blue; */
    /* border: solid 1px red */
}
.minusButton{
    width:100%;
    /* border: solid 1px red */
}

.proConbuttons{
    background: transparent;
    border: none;
    color: #FF5655;
    width: 3rem;
    /* border: solid 1px red */

}


.proConIcons{

    border: solid 1px red;
    cursor: pointer;
    padding: 5px;
    margin: 5px
    
}
.proConIcons:hover,
.proConIcons:active{

    border: solid 1px red;
    cursor: pointer;
    transition: all .2s ease-in-out;
   transform: scale(1.1);
    
}




.proList{
    display: flex;
    flex-direction: column;


}
.conList{
    display: flex;
    flex-direction: column;
}

.proConItemfalse{
    background: transparent;
    cursor: pointer;
    border: 0.1px;
    background-color: rgba(247, 168, 168, 0.5);
    margin-bottom: 0.2rem;
    border-radius: 5px;
    
}
.proConItemfalse:hover,
.proConItemfalse:active{
    transition: all .2s ease-in-out;
  transform: scale(1.1);
}


.proConItemtrue{
    background: transparent;
    cursor: pointer;
    border: 0.1px;
    background-color: rgba(247, 168, 168, 0.9);
    border:red solid 2px;
    margin-bottom: 0.2rem;
    border-radius: 5px;
    
}

.proConItemtrue:hover,
.proConItemtrue:active{
    transition: all .2s ease-in-out;
  transform: scale(1.1);
}
