.reviewPageContainer{
    width:80%;
    height:auto;
    min-height: fit-content;
    margin: 0 5em;

    display: flex;
    flex-direction: column;
    text-align: left;

    /* border: blue solid 2px; */

}

.reviewForm{
    display: flex;
    flex-direction: column;
    text-align: left;


}
.reviewTitleBox{

    display: flex;
    flex-direction: column;
    text-align: left;
}

.reviewContentBox{

    display: flex;
    flex-direction: column;
    text-align: left;
}

.reviewPicBox{
    display: flex;
    flex-direction: column;
    text-align: left;

}
.input{
    width: 50%;
    margin: 1rem 0;
    border: #FF5655 0.5px solid;


}
.input_content{
    height: 8rem;
}


.reviewProfileBox{
    display: flex;
    flex-direction: column;
    text-align: left;
    

}

.addReviewButton{
    margin: 1rem 0;
}

.review-img{
    max-height: 6rem;
    max-width: 8rem;
}

.reviewShortcutBox{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.proConBox{
    display: flex;
    flex-direction: column;
}

/* .proConItem:{

} */